@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
}
/* Body starts */
body{
    background: black;
    color: white;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
}
h1{
    font-size: 9vh;
}
header{
    width: 92%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
}
header img{
    height: 5vh;
    padding: 4vh;
}
.menu{
    position: fixed;
    align-items: flex-end;
}
section{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 40%;
    margin-left: 5vw;
    font-size: 4vh;
}
.tour{
    border: 2px solid white;
    text-align: center;
    border-radius: 9px ;
    color: white;
    position: relative;
    top: 8vh;
    box-shadow: 0  2px  white;
    font-size: 3vh;
    padding: 1vh 2vh;
    text-decoration: none;
    overflow: hidden;
}
.tour span{
    position: relative;
    z-index: 1;
}
.tour::after{
    content: "";
    background-color: blue;
    height: 0;
    width: 0;
    position: absolute;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    transition: width 1.2s, height 1s;
}
.tour:hover::after{
    height: 1000px;
    width: 1000px;
}
.content{
    position: absolute;
    left: 92vw;
    top: 40vh;
}
.content ul{
    list-style: none;
    display: flex;
    flex-direction: column;
}
.content ul li{
    padding-bottom: 5vh;
}
.content ul li a{
    text-decoration: none;
    font-size: 2.5vh;
    color: white;
}
.imgc{
    position: absolute;
    left: 120vh;
    top: 20vh;
    background-color: white;
    height: 60vh;
    width: 60vh;
    border-radius: 50px;
}
.imgc img{
    border-radius: 15px;
}

/*<------------------------------------------------------- chat page starts-----------------------------------------------------------> */

main{
    height: 100vh;
}
.container{
    font-family: 'Poppins', sans-serif;
    display: flex;
}
.content0{
    background-image: url("img/25571.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 40%;
    left: 15%;
    color: white;
    font-family: 'Poppins', sans-serif; 
    height: 30vh;
    width: 30vh;
    border-radius: 12px;
    box-shadow: 0 0 5px 0 black;
}
.title1{
    padding-top: 1vh;
    font-size: 2vh;
}
h2{
    font-size: 5vh;
}
#temp1{
    position: absolute;
    top: 33%;
    left: 32%;
}
#hum1{
    position: absolute;
    top: 33%;
    left: 32%;
}
#winds{
    position: absolute;
    top: 33%;
    left: 20%;
}
input{
    position: absolute;
    top: 20%;
    left: 45%;
    height: 3vh;
    font-family: 'Poppins', sans-serif;
}
button{
    position: absolute;
    top: 20.4%;
    left: 60%;
    font-family: 'Poppins', sans-serif;
}
.content1{
    background-image: url("img/812556.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 40%;
    left: 45%;
    color: white;
    height: 30vh;
    width: 30vh;
    border-radius: 12px;
    font-family: 'Poppins', sans-serif; 
    box-shadow: 0 0 8px 0 black;
}
#tempp{
    top: 50%;
}
.content2{
    background-image: url("img/2900521.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 40%;
    left: 75%;
    color: white;
    height: 30vh;
    width: 30vh;
    border-radius: 12px;
    font-family: 'Poppins', sans-serif; 
    box-shadow: 0 0 5px 0 black;
}
#cardcont{
    padding-left: 10vh;
    padding-top: 20vh;
    height: 100vh;
    width: 70vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.card{
    background: white;
    margin: 2vh;
    height: 20vh;
    width: 15vw;
    border-radius: 9px;
    color: black;
    text-align: center;
    margin-left: 5vw;
}
.code{
    position: absolute;
    left: 30%;
    top: 10%;
}